#content {
        margin: 0px auto;
        text-align: center;
        }
a {
    text-decoration: none;
}
p {
    font: 15px 'Open Sans', sans-serif;
    }
h1 {
    font-family: 'Quicksand', sans-serif; font-weight: 700; letter-spacing: 3px;
    color: #3399ff;
}
table {
    font: 15px 'Open Sans', sans-serif;
    border-spacing: 5px;
    margin: 0px auto;
    text-align: left;
    }
th{
    font-weight: 600;
}
td.col_style_0 {
    color: ##ff9900;
}
td.col_style_1 {
    color: #3399ff;
}
td.col_style_2 {
    letter-spacing: 2px;
    text-align: center;
}
