#content {
        margin: 0px auto;
        text-align: center;
        }
a {
    text-decoration: none;
}
p {
    font: 15px 'Open Sans', sans-serif;
    }
h1 {
    font-family: 'Quicksand', sans-serif; font-weight: 700; letter-spacing: 3px;
    color: #3399ff;
}
table {
    font: 15px 'Open Sans', sans-serif;
    border-spacing: 5px;
    margin: 0px auto;
    text-align: left;
    }
th{
    font-weight: 600;
}
td.col_style_1 {
    color: #3399ff;
}
td.col_style_2 {
    letter-spacing: 2px;
    text-align: center;
}
#btn {
    width: 11em;  height: 2em;
    background: #3399ff;
    border-radius: 5px;
    color: #fff;
    font-family: 'Open Sans', sans-serif; font-size: 25px; font-weight: 900;
    letter-spacing: 3px;
    border:none;
}
#btn.green {
    background: #009900;
}
#btn.orange {
    background: #ff9900;
}
#btn.red {
    background: #cc0000;
}
