#content {
        margin: 0px auto;
        text-align: center;
        }
body {
    background-color: #D7D9CE;
    }
a {
    text-decoration: none;
    color: #119DA4;
}
p {
    font: 15px 'Oxygen Mono';
    }
h1 {
    margin: 0px auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    border-radius: 5px;
    background-color: #0C7489;
    width: 270px;
    font-family: 'Quicksand', sans-serif; font-weight: 700; letter-spacing: 13px;
    color: white;
}
h2 {
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif; font-weight: 700; letter-spacing: 13px;
    color: #13505B;
}
table {
    font: 15px 'Oxygen Mono';
    border-spacing: 0px;
    margin: 0px auto;
    text-align: left;
    }
th{
    font-weight: 600;
    color: #13505B;
    background-color: #CCCCB2;
    padding: 9px;
    text-align: center;
    vertical-align: middle;
    height: 24px;
}
td.col_style_0 {
    color: #119DA4;
    padding: 19px;
}
td.col_style_1 {
    color: #0C7489;
    padding: 19px;
}
td.col_style_2 {
    text-align: center;
    padding: 15px;
}
img {
    border:1px solid #;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#btn {
    width: 7em;  height: 2em;
    background: #cc0000;
    border-radius: 5px;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 3px;
    border:none;
    }